.product {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  min-width: 100px;
  max-width: 250px;
}

.product:nth-child(2) {
  max-width: 400px;
}

.product:nth-child(6) {
  max-width: 650px;
}

.product > img {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__info {
  width: 100%;
}
.product__price {
  margin: 0;
}
.product > button {
  background: #f0c14b;
  border: 1px solid #a88734;
  margin-top: 10px;
  border-radius: 2px;
  color: black;
}
.product__rating {
  display: flex;
  width: 100%;
  justify-content: left;
}

@media (max-width: 650px) {
  .product,
  .product:nth-child(n) {
    max-width: 100%;
  }
}
