.thanks {
  padding: 20px 80px;
  min-height: 90vh;
}
.thanks__message {
  display: flex;
  justify-content: center;
  width: fit-content;
  color: green;
  border: 1px solid green;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: 600;
  align-items: center;
  padding: 4px;
  box-shadow: inset 0px 0px 4px 1px rgb(15, 186, 0);
  margin-bottom: 30px;
}
