@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: rgb(237, 237, 237);
  min-width: 390px;
  max-width: 1500px;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  transition: all 0.1s;
  color: black;
}

button:active {
  transform: scale(0.98);
  transition: all 0.1s;
}
